<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
  </head>
  <style media="screen">
    *{
      background-color: #fffbdf;
    }
    body {
      font-family: sans-serif;
    }
  </style>
  <body>
    <h2><%= currentDate %></h2>
    <ul>
      <li>Breakfast</li>
      <li>To Code</li>
      <% for(var i = 0; i < listItems.length; i++){ %>
          <li><%= listItems[i] %></li>
      <% } %>
    </ul>

    <form action="/" method="post">
      <input type="text" name="todo" placeholder="List Item">
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
